@{
    ViewData["Title"] = "Доступ обмежений";
}


<div class="text-center position-absolute top-50 start-50 translate-middle">
    <h2 role="alert" class="text-danger">У вас відсутній доступ до цього ресурса</h2>
    <a asp-area="" asp-controller="Task" asp-action="Index" class="link-primary">Перейти до домашньої сторінки.</a>
</div>

