@model ManufactureHub.Models.EditModel

@{
    ViewData["Title"] = "Редагування профіля";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card shadow-sm col-md-5 col-lg-6">
            <div class="card-body">
                <div class="row">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="mb-3">
                            <label asp-for="Name" class="control-label">Ім'я</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SurName" class="control-label">Прізвище</label>
                            <input asp-for="SurName" class="form-control" />
                            <span asp-validation-for="SurName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PatronymicName" class="control-label">По-батькові</label>
                            <input asp-for="PatronymicName" class="form-control" />
                            <span asp-validation-for="PatronymicName" class="text-danger"></span>
                        </div>
@*                         <div class="mb-3">
                            <label class="control-label">Зображення профіля</label>
                            <input type="file" name="fileAvatar" accept=".png, .jpeg, .jpg" class="form-control" />
                        </div> *@
                        <h4 class="mb-3">Роль у системі</h4>
                        <div class="my-3">
                            <div class="form-check">
                                <input asp-for="Role" id="worker" name="Role" type="radio" value="Worker" checked class="form-check-input" />
                                <label class="form-check-label" for="worker">Робітник</label>
                            </div>
                            <div class="form-check">
                                <input asp-for="Role" id="teamLeadSection" name="Role" type="radio" value="TeamLeadSection" class="form-check-input" />
                                <label class="form-check-label" for="teamLeadSection">Керівник дільниці</label>
                            </div>
                            <div class="form-check">
                                <input asp-for="Role" id="teamLeadWorkstation" name="Role" type="radio" value="TeamLeadWorkstation" class="form-check-input" />
                                <label class="form-check-label" for="teamLeadWorkstation">Керівник цеху</label>
                            </div>
                            <div class="form-check">
                                <input asp-for="Role" id="headFacility" name="Role" type="radio" value="HeadFacility" class="form-check-input" />
                                <label class="form-check-label" for="headFacility">Директор виробництва</label>
                            </div>
                            <div class="form-check">
                                <input asp-for="Role" id="admin" name="Role" type="radio" value="Admin" class="form-check-input" />
                                <label class="form-check-label" for="admin">Адмін</label>
                            </div>
                        </div>
                        <span asp-validation-for="Role" class="text-danger"></span>
                        <div class="mb-3">
                            <label asp-for="Position" class="control-label">Позиція</label>
                            <input asp-for="Position" class="form-control" />
                            <span asp-validation-for="Position" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input type="submit" value="Зберегти" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
