@model ESchedule.Models.EditModel

@{
    ViewData["Title"] = "Редагування профіля";


}

<h1 style="color:#fff4e4">Редагування</h1>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="card shadow-sm col-md-5 col-lg-6">
            <div class="card-body">
                <div class="row">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ProfilePicture" />
                        <div class="mb-3">
                            <label asp-for="Name" class="control-label">Ім'я</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SurName" class="control-label">Прізвище</label>
                            <input asp-for="SurName" class="form-control" />
                            <span asp-validation-for="SurName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PatronymicName" class="control-label">По-батькові</label>
                            <input asp-for="PatronymicName" class="form-control" />
                            <span asp-validation-for="PatronymicName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="control-label">Зображення профіля</label>
                            <input type="file" name="fileAvatar" accept=".png, .jpeg, .jpg" class="form-control" />
                        </div>
                        <h4 class="mb-3">Роль</h4>
                        <div class="my-3">
                            <div class="form-check">
                                <input asp-for="Role" id="student" name="Role" type="radio" value="Student" checked class="form-check-input" />
                                <label class="form-check-label" for="student">Учень</label>
                            </div>
                            <div class="form-check">
                                <input asp-for="Role" id="teacher" name="Role" type="radio" value="Teacher" class="form-check-input" />
                                <label class="form-check-label" for="teacher">Вчитель</label>
                            </div>
                        </div>
                        <span asp-validation-for="Role" class="text-danger"></span>
                        <div class="mb-3">
                            <label asp-for="Email" class="control-label">Електронна пошта</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="control-label">Підтвердіть пароль</label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input type="submit" value="Зберегти" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
