<div class="text-center">
    <h2 role="alert" class="text-danger">У вас нема прав доступу до цієї сторінки</h2>
    <a asp-area="" asp-controller="Task" asp-action="Index" class="link-primary">Перейти до домашньої сторінки.</a>
</div>

@{
}
