@{
    ViewData["Title"] = "Скидання паролю підтвердження";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль був успішно скинутий. Будь ласка, <a asp-action="Login">натисніть тут щоб увійти</a>.
</p>
