@model ManufactureHub.Models.SectionModelPost
@using ManufactureHub.Data.Enums

@{
    ViewData["Title"] = "Створення секції";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card shadow-sm col-md-5 col-lg-6">
            <div class="card-body">
                <div class="row">
                    <form enctype="multipart/form-data" asp-action="Create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="Name" class="control-label">Ім'я</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="control-label">Опис або роль секції</label>
                            <textarea asp-for="Description" class="form-control" ></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PrimaryColor" class="control-label">Кольор</label>
                            <input asp-for="PrimaryColor" type="color" class="form-control" />
                            <span asp-validation-for="PrimaryColor" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="WorkstationId" class="control-label">Цех</label>
                            <select asp-for="WorkstationId" class="form-select" asp-items="Model.WorkstationsSelect"></select>
                            <span asp-validation-for="WorkstationId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="TeamLeadId" class="control-label">TeamLead секції</label>
                            <select asp-for="TeamLeadId" class="form-select" asp-items="Model.TeamLeadSelect"></select>
                            <span asp-validation-for="TeamLeadId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="UsersWorkersId" class="control-label">Робітники які прив'язані до секції</label>
                            <select asp-for="UsersWorkersId" class="form-select" asp-items="Model.UsersWorkersSelect"></select>
                            <span asp-validation-for="UsersWorkersId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-secondary w-100">Зареєструватися</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
