@model ManufactureHub.Models.SectionModelEdit

@{
    ViewData["Title"] = "Редагування секції";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card shadow-sm col-md-5 col-lg-6">
            <div class="card-body">
                <div class="row">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
@*                         <input type="hidden" asp-for="WorkstationId"/>
                        <input type="hidden" asp-for="IdTeamLead"/> *@
                        @* <input type="hidden" asp-for="Users"/> *@
@*                         <input type="hidden" asp-for="Tasks" /> *@
                        <div class="mb-3">
                            <label asp-for="Name" class="control-label">Назва секції</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="control-label">Опис або роль секції</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PrimaryColor" class="control-label">Кольор</label>
                            <input asp-for="PrimaryColor" type="color" class="form-control" />
                            <span asp-validation-for="PrimaryColor" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="WorkstationId" class="control-label">Цех до якого відноситься секція</label>
                            <select asp-for="WorkstationId" class="form-select" asp-items="Model.WorkstationsSelect"></select>
                            <span asp-validation-for="WorkstationId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="TeamLeadId" class="control-label">TeamLead секції</label>
                            <select asp-for="TeamLeadId" class="form-select" asp-items="Model.TeamLeadSelect"></select>
                            <span asp-validation-for="TeamLeadId" class="text-danger"></span>
                        </div>
                        <div class="mb-3"> 
                            <label asp-for="UsersWorkersId" class="control-label">Робітники які прив'язані до секції (Необов'язково)</label>
                            <select asp-for="UsersWorkersId" class="form-select" multiple data-val="false" asp-items="Model.UsersWorkersSelect"></select>
                            <span asp-validation-for="UsersWorkersId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-secondary w-100">Підтвердити зміни</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
            $('#UsersWorkersId').select2({
                placeholder: "Оберіть робітників",
                allowClear: true,
                width: '100%',
            });
        });
    </script>
}
