<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManufactureHub</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="~/gg--organisation.svg">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ManufactureHub.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex">
        <div id="sidebarMenu" class="d-flex flex-column p-3 flex-shrink-0 sidebarCustom shadow-sm" style="width: 250px;">
            <div class="sidebar-sticky position-fixed">
                <a asp-area="" asp-controller="Task" asp-action="Index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                    <svg class="bi pe-none me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#solar--home-2-bold" /></svg>
                    <span class="fs-4 sidebar-title">ManufactureHub</span>
                </a>
                <hr/>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Task" asp-action="Index" class="nav-link">
                            <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#solar--checklist-minimalistic-bold" /></svg>
                            <span class="sidebar-text">Таски</span>
                        </a>
                    </li>
                    @if (User.IsInRole("Admin") || (User.IsInRole("HeadFacility")))
                    {
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Account" asp-action="Index" class="nav-link">
                                <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#solar--users-group-two-rounded-line-duotone" /></svg>
                                <span class="sidebar-text">Користувачі</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Section" asp-action="Index" class="nav-link">
                            <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#solar--box-bold" /></svg>
                            <span class="sidebar-text">Дільниці</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Workstation" asp-action="Index" class="nav-link">
                            <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#solar--buildings-outline"></use></svg>
                            <span class="sidebar-text">Цехи</span>
                        </a>
                    </li>
                </ul>
                <hr/>
                <partial name="_LoginPartial" />
                <button id="toggleSidebar" class="toggle-btn">
                    <svg class="toggle-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2">
                        <use href="#solar--alt-arrow-left-line-duotone" />
                    </svg>
                </button>
           </div>
        </div>
        <main role="main" class="d-flex pb-3 pt-3 flex-grow-1">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="ms-5">
            &copy; 2025 - ManufactureHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Конфеденційність</a>
        </div>
    </footer>

    <!-- SVG Icons -->

    <svg style="display: none">
        <symbol id="solar--trash-bin-minimalistic-linear" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M9.17 4a3.001 3.001 0 0 1 5.66 0m5.67 2h-17m15.333 2.5l-.46 6.9c-.177 2.654-.265 3.981-1.13 4.79s-2.196.81-4.856.81h-.774c-2.66 0-3.991 0-4.856-.81c-.865-.809-.954-2.136-1.13-4.79l-.46-6.9M9.5 11l.5 5m4.5-5l-.5 5" />
        </symbol>
    </svg>

    <svg style="display:none">
        <symbol id="solar--info-circle-bold" viewBox="0 0 24 24">
            <path fill="currentColor" fill-rule="evenodd" d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10m-10 5.75a.75.75 0 0 0 .75-.75v-6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75M12 7a1 1 0 1 1 0 2a1 1 0 0 1 0-2" clip-rule="evenodd" />
        </symbol>
    </svg>

    <svg style="display:none">
        <symbol id="solar--pen-new-square-bold" viewBox="0 0 24 24">
            <path fill="currentColor" d="M21.194 2.806a2.753 2.753 0 0 1 0 3.893l-.496.496a5 5 0 0 1-.533-.151a5.2 5.2 0 0 1-1.968-1.241a5.2 5.2 0 0 1-1.241-1.968a5 5 0 0 1-.15-.533l.495-.496a2.753 2.753 0 0 1 3.893 0M14.58 13.313c-.404.404-.606.606-.829.78a4.6 4.6 0 0 1-.848.524c-.255.121-.526.211-1.068.392l-2.858.953a.742.742 0 0 1-.939-.94l.953-2.857c.18-.542.27-.813.392-1.068q.217-.453.524-.848c.174-.223.376-.425.78-.83l4.916-4.915a6.7 6.7 0 0 0 1.533 2.36a6.7 6.7 0 0 0 2.36 1.533z" />
            <path fill="currentColor" d="M20.536 20.536C22 19.07 22 16.714 22 12c0-1.548 0-2.842-.052-3.934l-6.362 6.362c-.351.352-.615.616-.912.847a6 6 0 0 1-1.125.696c-.34.162-.694.28-1.166.437l-2.932.977a2.242 2.242 0 0 1-2.836-2.836l.977-2.932c.157-.472.275-.826.437-1.166q.287-.6.696-1.125c.231-.297.495-.56.847-.912l6.362-6.362C14.842 2 13.548 2 12 2C7.286 2 4.929 2 3.464 3.464C2 4.93 2 7.286 2 12s0 7.071 1.464 8.535C4.93 22 7.286 22 12 22s7.071 0 8.535-1.465" />
        </symbol>
    </svg>

    <svg style="display: none;">
        <symbol id="solar--checklist-minimalistic-bold" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M3.464 3.464C2 4.93 2 7.286 2 12s0 7.071 1.464 8.535C4.93 22 7.286 22 12 22s7.071 0 8.535-1.465C22 19.072 22 16.714 22 12s0-7.071-1.465-8.536C19.072 2 16.714 2 12 2S4.929 2 3.464 3.464m7.08 4.053a.75.75 0 1 0-1.087-1.034l-2.314 2.43l-.6-.63a.75.75 0 1 0-1.086 1.034l1.143 1.2a.75.75 0 0 0 1.086 0zM13 8.25a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 0-1.5zm-2.457 6.267a.75.75 0 1 0-1.086-1.034l-2.314 2.43l-.6-.63a.75.75 0 1 0-1.086 1.034l1.143 1.2a.75.75 0 0 0 1.086 0zM13 15.25a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 0-1.5z" clip-rule="evenodd" /></symbol>
    </svg>

    <svg style="display: none;">
        <symbol id="solar--buildings-outline" viewBox="0 0 24 24">
            <path fill="currentColor" fill-rule="evenodd" d="M14.948 1.25h2.104c.899 0 1.648 0 2.242.08c.628.084 1.195.27 1.65.725c.456.456.642 1.023.726 1.65c.08.595.08 1.345.08 2.243V21.25H22a.75.75 0 0 1 0 1.5H2a.75.75 0 0 1 0-1.5h.25V8.948c0-.898 0-1.648.08-2.242c.084-.628.27-1.195.725-1.65c.456-.456 1.023-.642 1.65-.726c.595-.08 1.345-.08 2.243-.08h3.33c.051-.874.213-1.63.777-2.195c.456-.455 1.023-.64 1.65-.725c.595-.08 1.345-.08 2.243-.08m-3.941 4.5H7c-.964 0-1.612.002-2.095.067c-.461.062-.659.169-.789.3s-.237.327-.3.788C3.753 7.388 3.75 8.036 3.75 9v12.25h4.5V19a.75.75 0 0 1 1.5 0v2.25h4.5V9c0-.964-.002-1.612-.066-2.095c-.063-.461-.17-.659-.3-.789s-.328-.237-.79-.3c-.481-.064-1.127-.066-2.087-.066m4.743 15.5V8.948c0-.898 0-1.648-.08-2.242c-.084-.628-.27-1.195-.726-1.65c-.455-.456-1.022-.642-1.65-.726c-.425-.057-.93-.074-1.51-.078c.05-.7.16-.963.332-1.136c.13-.13.328-.237.79-.3c.482-.064 1.13-.066 2.094-.066h2c.964 0 1.612.002 2.095.067c.461.062.659.169.789.3s.237.327.3.788c.064.483.066 1.131.066 2.095v15.25zM5.25 8A.75.75 0 0 1 6 7.25h6a.75.75 0 0 1 0 1.5H6A.75.75 0 0 1 5.25 8m0 3a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 0 1.5H6a.75.75 0 0 1-.75-.75m0 3a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 0 1.5H6a.75.75 0 0 1-.75-.75" clip-rule="evenodd" />
        </symbol>
    </svg>

    <svg style="display:none;">
        <symbol id="solar--alt-arrow-left-line-duotone" viewBox="0 0 24 24">
            <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m15 5l-6 7l6 7" />
        </symbol>
    </svg>

    <svg style="display: none;">
        <symbol id="solar--home-2-bold" viewBox="0 0 24 24">
            <path fill="currentColor" fill-rule="evenodd" d="M2.52 7.823C2 8.77 2 9.915 2 12.203v1.522c0 3.9 0 5.851 1.172 7.063S6.229 22 10 22h4c3.771 0 5.657 0 6.828-1.212S22 17.626 22 13.725v-1.521c0-2.289 0-3.433-.52-4.381c-.518-.949-1.467-1.537-3.364-2.715l-2-1.241C14.111 2.622 13.108 2 12 2s-2.11.622-4.116 1.867l-2 1.241C3.987 6.286 3.038 6.874 2.519 7.823M11.25 18a.75.75 0 0 0 1.5 0v-3a.75.75 0 0 0-1.5 0z" clip-rule="evenodd" />
        </symbol>
    </svg>

    <svg style="display: none;">
        <symbol id="solar--checklist-minimalistic-bold" viewBox="0 0 24 24">
            <path fill="currentColor" fill-rule="evenodd" d="M3.464 3.464C2 4.93 2 7.286 2 12s0 7.071 1.464 8.535C4.93 22 7.286 22 12 22s7.071 0 8.535-1.465C22 19.072 22 16.714 22 12s0-7.071-1.465-8.536C19.072 2 16.714 2 12 2S4.929 2 3.464 3.464m7.08 4.053a.75.75 0 1 0-1.087-1.034l-2.314 2.43l-.6-.63a.75.75 0 1 0-1.086 1.034l1.143 1.2a.75.75 0 0 0 1.086 0zM13 8.25a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 0-1.5zm-2.457 6.267a.75.75 0 1 0-1.086-1.034l-2.314 2.43l-.6-.63a.75.75 0 1 0-1.086 1.034l1.143 1.2a.75.75 0 0 0 1.086 0zM13 15.25a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 0-1.5z" clip-rule="evenodd" />
        </symbol>
    </svg>

    <svg style="display: none;">
        <symbol id="solar--users-group-two-rounded-line-duotone" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
                <circle cx="12" cy="6" r="4" />
                <path stroke-linecap="round" d="M18 9c1.657 0 3-1.12 3-2.5S19.657 4 18 4M6 9C4.343 9 3 7.88 3 6.5S4.343 4 6 4" opacity="0.5" />
                <ellipse cx="12" cy="17" rx="6" ry="4" />
                <path stroke-linecap="round" d="M20 19c1.754-.385 3-1.359 3-2.5s-1.246-2.115-3-2.5M4 19c-1.754-.385-3-1.359-3-2.5s1.246-2.115 3-2.5" opacity="0.5" />
            </g>
        </symbol>
    </svg>

    <svg style="display: none;">
        <symbol id="solar--box-bold" viewBox="0 0 24 24">
            <path fill="currentColor" d="m17.578 4.432l-2-1.05C13.822 2.461 12.944 2 12 2s-1.822.46-3.578 1.382l-.321.169l8.923 5.099l4.016-2.01c-.646-.732-1.688-1.279-3.462-2.21m4.17 3.534l-3.998 2V13a.75.75 0 0 1-1.5 0v-2.286l-3.5 1.75v9.44c.718-.179 1.535-.607 2.828-1.286l2-1.05c2.151-1.129 3.227-1.693 3.825-2.708c.597-1.014.597-2.277.597-4.8v-.117c0-1.893 0-3.076-.252-3.978M11.25 21.904v-9.44l-8.998-4.5C2 8.866 2 10.05 2 11.941v.117c0 2.525 0 3.788.597 4.802c.598 1.015 1.674 1.58 3.825 2.709l2 1.049c1.293.679 2.11 1.107 2.828 1.286M2.96 6.641l9.04 4.52l3.411-1.705l-8.886-5.078l-.103.054c-1.773.93-2.816 1.477-3.462 2.21" />
        </symbol>
    </svg>

    <svg style="display: none;">
        <symbol id="solar--alt-arrow-left-outline" viewBox="0 0 24 24">
            <path fill="#fff" fill-rule="evenodd" d="M15.488 4.43a.75.75 0 0 1 .081 1.058L9.988 12l5.581 6.512a.75.75 0 1 1-1.138.976l-6-7a.75.75 0 0 1 0-.976l6-7a.75.75 0 0 1 1.057-.081" clip-rule="evenodd" />
        </symbol>
    </svg>

    <svg style="display: none;">
        <symbol id="solar--user-bold" viewBox="0 0 24 24">
            <circle cx="12" cy="6" r="4" fill="currentColor" />
            <path fill="currentColor" d="M20 17.5c0 2.485 0 4.5-8 4.5s-8-2.015-8-4.5S7.582 13 12 13s8 2.015 8 4.5" />
        </symbol>
    </svg>

    <svg style="display: none;">
        <symbol id="solar--login-2-bold" viewBox="0 0 24 24">
            <path fill="currentColor" fill-rule="evenodd" d="M1.625 12c0 .414.336.75.75.75h10.973l-1.961 1.68a.75.75 0 1 0 .976 1.14l3.5-3a.75.75 0 0 0 0-1.14l-3.5-3a.75.75 0 1 0-.976 1.14l1.96 1.68H2.376a.75.75 0 0 0-.75.75" clip-rule="evenodd" />
            <path fill="currentColor" d="M9.375 9.75h.378a2.25 2.25 0 0 1 3.586-2.458l3.5 3a2.25 2.25 0 0 1 0 3.416l-3.5 3a2.25 2.25 0 0 1-3.586-2.458h-.378V16c0 2.828 0 4.243.879 5.121c.878.879 2.293.879 5.121.879h1c2.828 0 4.243 0 5.121-.879c.879-.878.879-2.293.879-5.121V8c0-2.828 0-4.243-.879-5.121C20.618 2 19.203 2 16.375 2h-1c-2.828 0-4.243 0-5.121.879c-.879.878-.879 2.293-.879 5.121z" />
        </symbol>
    </svg>

    <svg style="display: none;">
        <symbol id="solar--magnifer-linear" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
                <circle cx="11.5" cy="11.5" r="9.5" />
                <path stroke-linecap="round" d="M18.5 18.5L22 22" />
            </g>
        </symbol>
    </svg>

    <svg style="display: none">
        <symbol id="solar--user-plus-bold" viewBox="0 0 24 24">
            <circle cx="12" cy="6" r="4" fill="currentColor" />
            <path fill="currentColor" fill-rule="evenodd" d="M16.5 22c-1.65 0-2.475 0-2.987-.513C13 20.975 13 20.15 13 18.5s0-2.475.513-2.987C14.025 15 14.85 15 16.5 15s2.475 0 2.987.513C20 16.025 20 16.85 20 18.5s0 2.475-.513 2.987C18.975 22 18.15 22 16.5 22m.583-5.056a.583.583 0 1 0-1.166 0v.973h-.973a.583.583 0 1 0 0 1.166h.973v.973a.583.583 0 1 0 1.166 0v-.973h.973a.583.583 0 1 0 0-1.166h-.973z" clip-rule="evenodd" />
            <path fill="currentColor" d="M15.678 13.503c-.473.005-.914.023-1.298.074c-.643.087-1.347.293-1.928.875c-.582.581-.788 1.285-.874 1.928c-.078.578-.078 1.284-.078 2.034v.172c0 .75 0 1.456.078 2.034c.06.451.18.932.447 1.38H12c-8 0-8-2.015-8-4.5S7.582 13 12 13c1.326 0 2.577.181 3.678.503" />
        </symbol>
    </svg>

    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sidebar = document.getElementById('sidebarMenu');
            const toggleBtn = document.getElementById('toggleSidebar');
            // --- Get references to main content and footer ---
            const mainContent = document.querySelector('main[role="main"]');
            const footer = document.querySelector('.footer');
            // --- Define margin widths ---
            const sidebarExpandedMargin = '250px';
            const sidebarCollapsedMargin = '70px'; // Match your collapsed sidebar width

            // --- Function to apply styles based on collapsed state ---
            function applyLayout(isCollapsed) {
                if (!sidebar || !toggleBtn) return; // Safety check

                if (isCollapsed) {
                    sidebar.classList.add('collapsed');
                    toggleBtn.classList.add('collapsed');
                    // Set margins directly using JS
                    if (mainContent) mainContent.style.marginLeft = sidebarCollapsedMargin;
                    if (footer) footer.style.marginLeft = sidebarCollapsedMargin;
                } else {
                    sidebar.classList.remove('collapsed');
                    toggleBtn.classList.remove('collapsed');
                    // Set margins directly using JS
                    if (mainContent) mainContent.style.marginLeft = sidebarExpandedMargin;
                    if (footer) footer.style.marginLeft = sidebarExpandedMargin;
                }
            }

            // Load the sidebar state from localStorage and apply initial layout
            const isInitiallyCollapsed = localStorage.getItem('sidebarCollapsed') === 'true';
            // Apply layout on page load
            applyLayout(isInitiallyCollapsed);

            // Toggle sidebar, save state, and apply layout on click
            toggleBtn.addEventListener('click', function() {
                if (!sidebar) return;
                // Determine the new state *after* toggle (or before based on current state)
                const isNowCollapsed = !sidebar.classList.contains('collapsed');
                localStorage.setItem('sidebarCollapsed', isNowCollapsed);
                // Apply layout changes
                applyLayout(isNowCollapsed);
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
