<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManufactureHub</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="~/gg--organisation.svg">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ManufactureHub.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse flex-column">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <a asp-area="" asp-controller="Schedule" asp-action="Index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <div class="hstack">
                            <span class="fs-4">ESchedule</span>
                        </div>
                    </a>
                    <hr />
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Schedule" asp-action="Index" class="nav-link">
                                <div class="hstack">
                                    <span>Розклад</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Class" asp-action="Index" class="nav-link">
                                <div class="hstack">
                                    <span>Класи</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <hr />
                    <partial name="_LoginPartial" />
                </div>
            </nav>
            <main role="main" class="pb-3 pt-3 col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ManufactureHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
